<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Location Manager",root_path,class:'navbar-brand',id: 'logo'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">      
      <% if logged_in? %>
        <li class="nav-item dropdown">        
          <%= link_to "Countries",countries_path,class: 'nav-link dropdown-toggle', id: "navbarDropdown", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true"}, area: {expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "List",countries_path,class: 'dropdown-item'%>
            <%= link_to "New",new_country_path,class: 'dropdown-item'%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">        
          <%= link_to "States",states_path,class: 'nav-link dropdown-toggle', id: "navbarDropdown", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true"}, area: {expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "List",states_path,class: 'dropdown-item'%>
            <%= link_to "New",new_state_path,class: 'dropdown-item'%>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item"><%=link_to 'Users',users_path, class:"nav-link" %></li>
        <li class="nav-item"><%=link_to 'Access logs',access_logs_modules_path, class:"nav-link" %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" area-expanded="false">Your profile <%=current_user.admin? ? '(Admin)':''%></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your profile",edit_user_path(current_user),class: 'dropdown-item'%>
            <%= link_to "View your profile",user_path(current_user),class: 'dropdown-item'%>
          </div>
        </li>
        <li class="nav-item"><%= link_to 'Log out', logout_path, method: :delete,class: 'nav-link'%></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Sign up', signup_path,class: 'nav-link'%></li>
        <li class="nav-item"><%= link_to 'Log in', login_path,class: 'nav-link'%></li>
      <% end%>
    </ul>
  </div>
</nav>